body {    
    background-color: rgb(138, 9, 155);
    background-size: auto;
    font-family: 'Annie Use Your Telescope', cursive;
    text-align: center;
    font-size: 2rem;
    align-items: center;
}

.container {
    border-radius: 100%;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    padding: 5px;
    position: absolute;
    left: calc(50% - 115px);
    top: calc(50% - 115px);
}

.clock {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
}

.clock-hour {
    width: 30%;
    margin-left: 20%;
}

.clock-minute {
    width: 40%;
    margin-left: 10%;
    /* transform: rotate(20deg); */
}

.clock-second {
    width: 50%;
    margin-left: 0%;
    /* transform: rotate(45deg);   */
}

.clock-center {
    width: 10px;
    height: 10px;
    background-color: red;
    top: 100px;
    border-radius: 50%;
    left: 95px;
    position: absolute;
}